xlib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

var
pids
logs
results

npm-debug.log

lib/settings/settings_local.js
src/js/settings_local.js

static/css/
static/img/
static/js/chocolate.js
static/js/script.js

.DS_Store
node_modules/
rethinkdb_data
uploads/
