/*! normalize.css 2012-08-07T21:27 UTC | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: 0;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover,
button:active,
button:hover {
  outline: 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7.
 */
menu {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7.
 */
ol,
ul {
  margin: 0;
  padding: 0;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@charset "UTF-8";
@font-face {
  font-family: 'swts-ui';
  src: url('../font/swts-ui.eot');
  src: url('../font/swts-ui.eot?#iefix') format('embedded-opentype'), url('../font/swts-ui.woff') format('woff'), url('../font/swts-ui.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class^="swts-icon-"]:before,
[class*=" swts-icon-"]:before {
  font-family: "swts-ui";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.swts-icon-ol:before {
  content: "\e037";
}
.swts-icon-right:before {
  content: "\e002";
}
.swts-icon-dots:before {
  content: "\e004";
}
.swts-icon-plus-m:before {
  content: "\e006";
}
.swts-icon-trash:before {
  content: "\e005";
}
.swts-icon-plus-l:before {
  content: "\e007";
}
.swts-icon-link:before {
  content: "\e030";
}
.swts-icon-unlink:before {
  content: "\e031";
}
.swts-icon-bold:before {
  content: "\e032";
}
.swts-icon-italic:before {
  content: "\e033";
}
.swts-icon-h1:before {
  content: "\e034";
}
.swts-icon-h2:before {
  content: "\e035";
}
.swts-icon-ul:before {
  content: "\e036";
}
.swts-icon-cross:before {
  content: "\271d";
}
.swts-icon-left:before {
  content: "\e001";
}
.swts-icon-drag:before {
  content: "\e003";
}
.swts-icon-type-image:before {
  content: "\e020";
}
.swts-icon-type-text:before {
  content: "\e021";
}
.swts-icon-type-video:before {
  content: "\e022";
}
.swts-icon-clean:before {
  content: "\e038";
}
.swts-icon-plus:before {
  content: "+";
}
.swts-button,
.swts-add,
.swts-remove {
  color: #ffffff;
  background: #1b2533;
  display: block;
  z-index: 100;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-family: "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-transition: color 150ms cubic-bezier(0.66, 0, 0.07, 1);
  -moz-transition: color 150ms cubic-bezier(0.66, 0, 0.07, 1);
  -ms-transition: color 150ms cubic-bezier(0.66, 0, 0.07, 1);
  transition: color 150ms cubic-bezier(0.66, 0, 0.07, 1);
}
.swts-button:hover,
.swts-add:hover,
.swts-remove:hover {
  color: #ff4546;
}
.swts-button,
.swts-add {
  line-height: 40px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.swts-button {
  font-size: 1em;
}
.swts-add {
  font-size: 27px;
}
.swts-add,
.swts-remove {
  position: absolute;
}
.swts-remove {
  font-size: 20px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.swts-input {
  position: relative;
  display: block;
  height: 40px;
  width: 200px;
  font: 16px "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  cursor: text;
  margin-bottom: 1px;
}
.swts-input input {
  -webkit-transition: all 300ms cubic-bezier(0.66, 0, 0.07, 1);
  -moz-transition: all 300ms cubic-bezier(0.66, 0, 0.07, 1);
  -ms-transition: all 300ms cubic-bezier(0.66, 0, 0.07, 1);
  transition: all 300ms cubic-bezier(0.66, 0, 0.07, 1);
}
.swts-input span {
  -webkit-transition: all 300ms cubic-bezier(0.66, 0, 0.07, 1);
  -moz-transition: all 300ms cubic-bezier(0.66, 0, 0.07, 1);
  -ms-transition: all 300ms cubic-bezier(0.66, 0, 0.07, 1);
  transition: all 300ms cubic-bezier(0.66, 0, 0.07, 1);
}
.swts-input input {
  font: 16px "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #29384e;
  color: #ffffff;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  padding: 4.44444444px 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.swts-input span {
  top: 0;
  position: absolute;
  display: block;
  width: 100%;
  color: #ffffff;
  -webkit-transform: translate(0, 10px);
  -moz-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  transform: translate(0, 10px);
}
.swts-input input:focus {
  background: #ffffff;
  color: #29384e;
}
.swts-input.swts-input-val span,
.swts-input input:focus + span {
  color: #ff4546;
  font-size: 0.563em;
  font-weight: bold;
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  -ms-transform: translate(0, 2px);
  transform: translate(0, 2px);
}
.swts-input.swts-error input {
  background: #ffdede;
  color: #29384e;
}
.swts-cover-login {
  position: fixed;
  top: 0;
  left: 50%;
  width: 300px;
  margin: 0 0 0 -150px;
  padding: 20px;
  z-index: 9000;
  background: #1b2533;
  -webkit-transform: translate3d(0, -101%, 0);
  -moz-transform: translate3d(0, -101%, 0);
  -ms-transform: translate3d(0, -101%, 0);
  transform: translate3d(0, -101%, 0);
  -webkit-transition: all 300ms cubic-bezier(0.66, 0, 0.07, 1);
  -moz-transition: all 300ms cubic-bezier(0.66, 0, 0.07, 1);
  -ms-transition: all 300ms cubic-bezier(0.66, 0, 0.07, 1);
  transition: all 300ms cubic-bezier(0.66, 0, 0.07, 1);
}
.swts-cover-login,
.swts-cover-login * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.swts-cover-login.active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.swts-cover-login .swts-input {
  width: 260px;
}
.swts-cover-login .swts-button {
  margin: 20px auto 0;
  background: #29384e;
}
.nipple.nipple-small {
  height: 20px;
  width: 20px;
}
.nipple.nipple-small > a {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.nipple.nipple-small.nipple-up ul {
  left: -50px;
  bottom: 33px;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.nipple.nipple-small.nipple-down ul {
  left: -50px;
  top: 33px;
  -webkit-transform-origin: 50% -20px;
  -moz-transform-origin: 50% -20px;
  -o-transform-origin: 50% -20px;
  -ms-transform-origin: 50% -20px;
  transform-origin: 50% -20px;
}
.nipple.nipple-small.nipple-left ul {
  right: 33px;
  top: -8.75px;
  -webkit-transform-origin: 100% 18.75px;
  -moz-transform-origin: 100% 18.75px;
  -o-transform-origin: 100% 18.75px;
  -ms-transform-origin: 100% 18.75px;
  transform-origin: 100% 18.75px;
}
.nipple.nipple-small.nipple-right ul {
  left: 33px;
  top: -8.75px;
  -webkit-transform-origin: 0 18.75px;
  -moz-transform-origin: 0 18.75px;
  -o-transform-origin: 0 18.75px;
  -ms-transform-origin: 0 18.75px;
  transform-origin: 0 18.75px;
}
.nipple.nipple-medium {
  height: 40px;
  width: 40px;
}
.nipple.nipple-medium > a {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.nipple.nipple-medium.nipple-up ul {
  left: -40px;
  bottom: 53px;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.nipple.nipple-medium.nipple-down ul {
  left: -40px;
  top: 53px;
  -webkit-transform-origin: 50% -40px;
  -moz-transform-origin: 50% -40px;
  -o-transform-origin: 50% -40px;
  -ms-transform-origin: 50% -40px;
  transform-origin: 50% -40px;
}
.nipple.nipple-medium.nipple-left ul {
  right: 53px;
  top: 1.25px;
  -webkit-transform-origin: 100% 18.75px;
  -moz-transform-origin: 100% 18.75px;
  -o-transform-origin: 100% 18.75px;
  -ms-transform-origin: 100% 18.75px;
  transform-origin: 100% 18.75px;
}
.nipple.nipple-medium.nipple-right ul {
  left: 53px;
  top: 1.25px;
  -webkit-transform-origin: 0 18.75px;
  -moz-transform-origin: 0 18.75px;
  -o-transform-origin: 0 18.75px;
  -ms-transform-origin: 0 18.75px;
  transform-origin: 0 18.75px;
}
.nipple.nipple-large {
  height: 80px;
  width: 80px;
}
.nipple.nipple-large > a {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
.nipple.nipple-large.nipple-up ul {
  left: -20px;
  bottom: 93px;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.nipple.nipple-large.nipple-down ul {
  left: -20px;
  top: 93px;
  -webkit-transform-origin: 50% -80px;
  -moz-transform-origin: 50% -80px;
  -o-transform-origin: 50% -80px;
  -ms-transform-origin: 50% -80px;
  transform-origin: 50% -80px;
}
.nipple.nipple-large.nipple-left ul {
  right: 93px;
  top: 21.25px;
  -webkit-transform-origin: 100% 18.75px;
  -moz-transform-origin: 100% 18.75px;
  -o-transform-origin: 100% 18.75px;
  -ms-transform-origin: 100% 18.75px;
  transform-origin: 100% 18.75px;
}
.nipple.nipple-large.nipple-right ul {
  left: 93px;
  top: 21.25px;
  -webkit-transform-origin: 0 18.75px;
  -moz-transform-origin: 0 18.75px;
  -o-transform-origin: 0 18.75px;
  -ms-transform-origin: 0 18.75px;
  transform-origin: 0 18.75px;
}
.nipple-up li:last-child:after {
  position: absolute;
  bottom: -9px;
  left: 50px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #1b2533;
  -webkit-transition: border 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
  -moz-transition: border 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
  -ms-transition: border 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
  transition: border 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
}
.nipple-down li:first-child:before {
  position: absolute;
  top: -9px;
  left: 50px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #1b2533;
  -webkit-transition: border 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
  -moz-transition: border 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
  -ms-transition: border 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
  transition: border 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
}
.nipple-down .nipple-tools:first-child:before {
  border-bottom-color: #29384e;
}
.nipple-down .nipple-tools.nipple-h-confirm:first-child:before {
  border-bottom-color: #ff4546;
}
.nipple-down .nipple-tools.nipple-confirmation:first-child:before {
  border-bottom-color: #ff0000;
}
.nipple-left li:first-child:before {
  position: absolute;
  top: 8.75px;
  right: -9px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #1b2533;
  -webkit-transition: border 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
  -moz-transition: border 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
  -ms-transition: border 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
  transition: border 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
}
.nipple-left .nipple-tools:first-child:before {
  border-left-color: #29384e;
}
.nipple-left .nipple-tools.nipple-h-confirm:first-child:before {
  border-left-color: #ff4546;
}
.nipple-left .nipple-tools.nipple-confirmation:first-child:before {
  border-left-color: #ff0000;
}
.nipple-right li:first-child:before {
  position: absolute;
  top: 8.75px;
  left: -9px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #1b2533;
  -webkit-transition: border 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
  -moz-transition: border 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
  -ms-transition: border 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
  transition: border 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
}
.nipple-right .nipple-tools:first-child:before {
  border-right-color: #29384e;
}
.nipple-right .nipple-tools.nipple-h-confirm:first-child:before {
  border-right-color: #ff4546;
}
.nipple-right .nipple-tools.nipple-confirmation:first-child:before {
  border-right-color: #ff0000;
}
.nipple {
  position: absolute;
  font-size: 0.9em;
  font: 16px "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  display: block;
}
.nipple a {
  -webkit-transition: all 150ms cubic-bezier(0.66, 0, 0.07, 1);
  -moz-transition: all 150ms cubic-bezier(0.66, 0, 0.07, 1);
  -ms-transition: all 150ms cubic-bezier(0.66, 0, 0.07, 1);
  transition: all 150ms cubic-bezier(0.66, 0, 0.07, 1);
}
.nipple a:link,
.nipple a:visited {
  color: #ffffff;
  text-decoration: none;
}
.nipple a:hover,
.nipple a:focus {
  color: #ff4546;
  text-decoration: none;
}
.nipple > a {
  background: #1b2533;
  display: block;
}
.nipple ul {
  display: block;
  position: absolute;
  width: 120px;
  color: #ffffff;
  background: #1b2533;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: rotateX(45deg) scale(0.8);
  -moz-transform: rotateX(45deg) scale(0.8);
  -ms-transform: rotateX(45deg) scale(0.8);
  transform: rotateX(45deg) scale(0.8);
  -webkit-transition: visibility 0s cubic-bezier(0.66, 0, 0.5, 1.5) 200ms, all 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
  -moz-transition: visibility 0s cubic-bezier(0.66, 0, 0.5, 1.5) 200ms, all 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
  -ms-transition: visibility 0s cubic-bezier(0.66, 0, 0.5, 1.5) 200ms, all 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
  transition: visibility 0s cubic-bezier(0.66, 0, 0.5, 1.5) 200ms, all 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
}
.nipple li {
  list-style: none;
  margin: 0;
  padding: 0 4px;
  position: relative;
  height: 30px;
  line-height: 30px;
}
.nipple li:first-child {
  padding-top: 6px;
}
.nipple li:last-child {
  padding-bottom: 10px;
}
.nipple.nipple-hot > ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotateX(0) scale(1);
  -moz-transform: rotateX(0) scale(1);
  -ms-transform: rotateX(0) scale(1);
  transform: rotateX(0) scale(1);
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  transition-delay: 0;
}
.nipple-selected a {
  color: #ff4546 !important;
}
.nipple-tools a {
  width: 50%;
}
.nipple-tools a:nth-child(1) {
  left: 0;
}
.nipple-tools a:nth-child(2) {
  left: 50%;
}
.nipple-tools,
.nipple-tools a {
  -webkit-transition: all 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
  -moz-transition: all 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
  -ms-transition: all 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
  transition: all 200ms cubic-bezier(0.66, 0, 0.5, 1.5);
}
.nipple-tools {
  padding: 0 !important;
  height: 42px !important;
  margin-bottom: 6px !important;
  background: #29384e;
}
.nipple-tools a {
  display: block;
  position: absolute;
  top: 0;
  padding-top: 5px;
  font-size: 1.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}
.nipple-tools a:first-child {
  padding-left: 4px;
}
.nipple-tools a:last-child {
  padding-right: 4px;
}
.nipple-tools a:hover {
  width: 100%;
  left: 0;
  z-index: 1;
}
.nipple-tools.nipple-h-confirm {
  background: #ff4546;
}
.nipple-tools.nipple-h-confirm a:hover {
  color: #ffffff;
}
.nipple-tools.nipple-confirmation {
  background: #ff0000;
}
.nipple-tools.nipple-confirmation a {
  font-size: 2.6em;
}
.nipple-tools a.nipple-hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s ease-in-out 0.3s, opacity 0.3s ease-in-out;
  -moz-transition: visibility 0s ease-in-out 0.3s, opacity 0.3s ease-in-out;
  -ms-transition: visibility 0s ease-in-out 0.3s, opacity 0.3s ease-in-out;
  transition: visibility 0s ease-in-out 0.3s, opacity 0.3s ease-in-out;
}
@font-face {
  font-family: 'Museo Sans';
  src: url('../font/museosans100.eot');
  src: url('../font/museosans100.eot?#iefix') format('embedded-opentype'), url('../font/museosans100.woff') format('woff'), url('../font/museosans100.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans';
  src: url('../font/museosans700.eot');
  src: url('../font/museosans700.eot?#iefix') format('embedded-opentype'), url('../font/museosans700.woff') format('woff'), url('../font/museosans700.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@-webkit-keyframes errror {
  0% {
    -webkit-transform: translate(-20px, 0);
    -moz-transform: translate(-20px, 0);
    -ms-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
  }
  20% {
    -webkit-transform: translate(16px, 0);
    -moz-transform: translate(16px, 0);
    -ms-transform: translate(16px, 0);
    transform: translate(16px, 0);
  }
  40% {
    -webkit-transform: translate(-12px, 0);
    -moz-transform: translate(-12px, 0);
    -ms-transform: translate(-12px, 0);
    transform: translate(-12px, 0);
  }
  60% {
    -webkit-transform: translate(8px, 0);
    -moz-transform: translate(8px, 0);
    -ms-transform: translate(8px, 0);
    transform: translate(8px, 0);
  }
  80% {
    -webkit-transform: translate(-4px, 0);
    -moz-transform: translate(-4px, 0);
    -ms-transform: translate(-4px, 0);
    transform: translate(-4px, 0);
  }
  100% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
}
@keyframes error {
  0% {
    -webkit-transform: translate(-20px, 0);
    -moz-transform: translate(-20px, 0);
    -ms-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
  }
  20% {
    -webkit-transform: translate(16px, 0);
    -moz-transform: translate(16px, 0);
    -ms-transform: translate(16px, 0);
    transform: translate(16px, 0);
  }
  40% {
    -webkit-transform: translate(-12px, 0);
    -moz-transform: translate(-12px, 0);
    -ms-transform: translate(-12px, 0);
    transform: translate(-12px, 0);
  }
  60% {
    -webkit-transform: translate(8px, 0);
    -moz-transform: translate(8px, 0);
    -ms-transform: translate(8px, 0);
    transform: translate(8px, 0);
  }
  80% {
    -webkit-transform: translate(-4px, 0);
    -moz-transform: translate(-4px, 0);
    -ms-transform: translate(-4px, 0);
    transform: translate(-4px, 0);
  }
  100% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
}
.swts-error {
  -webkit-animation: errror 0.4s cubic-bezier(0.66, 0, 0.07, 1);
  -moz-animation: errror 0.4s cubic-bezier(0.66, 0, 0.07, 1);
  -ms-animation: errror 0.4s cubic-bezier(0.66, 0, 0.07, 1);
  animation: errror 0.4s cubic-bezier(0.66, 0, 0.07, 1);
}
.container {
  width: 80%;
  margin: 80px auto;
}
.ui-item {
  width: 300px;
  height: 260px;
  display: inline-block;
  vertical-align: top;
  background: #f3f3f3;
  padding: 10px;
  position: relative;
  margin-bottom: 4px;
}
.ui-item > h2 {
  font: normal 1em "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ui-item > p {
  font: normal 0.75em "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.swts-button {
  left: 0;
}
.swts-add {
  left: 64px;
  top: 54px;
}
.swts-remove {
  left: 125px;
  top: 64px;
}
.nipple.nipple-small {
  left: 50px;
  top: 64px;
}
.nipple.nipple-medium {
  left: 120px;
}
.nipple.nipple-large {
  left: 220px;
}
.ui-item .swts-cover-login {
  margin: 0;
  position: relative;
  left: 0;
}
