@button-normal-size:        2*@swts-grid;
@button-normal-font-size:   @swts-grid;
@button-small-size:         @swts-grid;
@button-small-font-size:    @swts-grid;

.swts-button,
.swts-add,
.swts-remove {
    color: @swts-color !important;
    background: @swts-bg-color;
    display: block;
    z-index: 100;
    text-align: center !important;
    outline: none;
    text-decoration: none !important;
    font-family: @swts-font-family;
    .transition(all, 75ms, @swts-showup-transition-style);
    &:hover {color: @swts-accent-color !important;}
}

.swts-button, .swts-add {
    line-height: @button-normal-size;
    .circle(@button-normal-size/2);
}

.swts-button { font-size: @button-normal-font-size; }
.swts-add { font-size: 1.35*@button-normal-font-size; }

.swts-add, .swts-remove {
    position: absolute;
}

.swts-remove {
    font-size: @button-small-font-size;
    line-height: @button-small-size;
    .circle(@button-small-size/2);
}

.swts-button-confirm {
    font-size: 0.9*@button-small-size;
    background: @swts-warning-color;
    &:hover {color: @swts-color !important;}
    .scale(2.0);
}
