.swts-button,
.swts-add,
.swts-remove {
    color: @swts-color !important;
    background: @swts-bg-color;
    display: block;
    z-index: 100;
    text-align: center !important;
    outline: none;
    text-decoration: none !important;
    font-family: @swts-font-family;
    .transition(all, 75ms, @swts-showup-transition-style);
    &:hover {color: @swts-accent-color !important;}
}

.swts-button, .swts-add {
    line-height: @swts-grid*2;
    .circle(@swts-grid);
}

.swts-button { font-size: 1em; }
.swts-add { font-size: 1.35*@swts-grid; }

.swts-add, .swts-remove {
    position: absolute;
}

.swts-remove {
    font-size: @swts-grid;
    line-height: @swts-grid;
    .circle(@swts-grid/2);
}

.swts-button-confirm {
    font-size: 1em;
    background: @swts-warning-color;
    &:hover {color: @swts-color !important;}
    .scale(2.0);
}
