@input-font-family: 	@swts-input-font-family;
@input-font-size: 		@swts-input-font-size;
@input-height: 			@swts-input-height;
@input-width: 			@swts-input-width;
@input-bg-color: 		@swts-input-bg-color;
@input-bg-focus-color: 	@swts-input-bg-focus-color;
@input-color: 			@swts-input-color;
@input-focus-color: 	@swts-input-focus-color;
@input-label-color: 	@swts-input-label-color;
@input-error-color: 	@swts-input-error-color;
@input-uppercase: 		@swts-input-uppercase;
@input-hover: 			@swts-input-hover;

.swts-input {
	position: relative;
	display: block;
	height: @input-height;
	width: @input-width;
	font: @input-font-size @input-font-family;
	text-align: center;
	cursor: text;
	margin-bottom: 1px;

	input, span { .transition(all, 2*@swts-common-time);}

	input {
		font: @input-font-size @input-font-family;
		background: @input-bg-color;
		color: @input-color;
		height: 100%;
		width: 100%;
		border: none;
		outline: none;
		text-align: center;
		padding: @input-height/9 @input-height/4 0;
		box-sizing: border-box;
	}

	span {
		top: 0;
		position: absolute;
		display: block;
		width: 100%;
		color: @input-color;
		.translate(0, @input-height / 2 - @input-font-size / 2);
		.uppercase(@input-uppercase);
	}

	&:hover when(@input-hover = true) {
		input {
			color: @input-focus-color;
			background: mix(@input-bg-color, @input-bg-focus-color, 50%);
		}
		span {
			color: @input-focus-color;
		}
	}

	input:focus {
		background: @input-bg-focus-color;
		color: @input-focus-color;
	}

	&.swts-input-val span, input:focus + span {
		font-size: 0.563em;
		font-weight: bold;
		.translate(0, 2px);
		.uppercase(@input-uppercase);
	}

	&.swts-input-val span {
		color: mix(@input-color, @input-bg-color, 25%);
	}

	input:focus + span {
		color: @input-label-color;
	}

	&.swts-error input {
		background: @input-error-color;
		color: @input-bg-color;
	}
}
