.nipple.draft > a {
	background: transparent;
	width: 8px;
	height: 8px;
	border: @nipple-background-color solid 6px;
}

.nipple.published > a {
	background: @nipple-background-color;
	border: @nipple-background-color solid 0px;
}
