.ui-clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after { clear: both;}
}


.ui-font (@font-name, @font-file, @font-weight: normal, @font-style: normal) {
  @font-face {
    font-family: @font-name;
    src: url('@{font-file}.woff2') format('woff2'),
      url('@{font-file}.woff') format('woff'),
      url('@{font-file}.ttf') format('truetype');
    font-weight: @font-weight;
    font-style: @font-style;
  }
}

.ui-transition(@property, @duration, @style: cubic-bezier(0.860, 0.000, 0.070, 1.000)) {
  transition+: @property @duration @style;
}

.ui-transition-transform (@duration, @style: cubic-bezier(0.860, 0.000, 0.070, 1.000)) {
  transition+: transform @duration @style;
}
.ui-clear-transition () { transition: none; }

// Transform Tools
.ui-transform (...) {
  transform+_: @arguments;
}

.ui-rotate (@deg) { .ui-transform(rotate(@deg)); }
.ui-rotateX (@deg) { .ui-transform(rotateX(@deg)); }
.ui-rotateY (@deg) { .ui-transform(rotateY(@deg)); }
.ui-rotateZ (@deg) { .ui-transform(rotateZ(@deg)); }

.ui-scale (@ratio) { .ui-transform(scale(@ratio));}
.ui-scaleX (@ratio) { .ui-transform(scaleX(@ratio)); }
.ui-scaleY (@ratio) { .ui-transform(scaleY(@ratio)); }

.ui-translate (@x, @y) { .ui-transform(translate(@x, @y)); }
.ui-translateX (@x:0) { .ui-transform(translateX(@x)); }
.ui-translateY (@y:0) { .ui-transform(translateY(@y)); }
.ui-translateZ (@z:0) { .ui-transform(translateZ(@z)); }

.ui-clearTransform () { transform: none !important; }


.ui-fadein (@delay: 0.3s) {
  visibility:visible;
  opacity:1;
  transition:visibility 0s ease-in-out @delay, all @delay ease-in-out;
}

.ui-fadeout (@delay: 0.3s) {
  visibility:hidden;
  opacity:0;
  transition:visibility 0s ease-in-out @delay, all @delay ease-in-out;
}

//Typography
//conditional uppercase
.ui-uppercase (@is) when (@is = true) {
  text-transform: uppercase;
}

.ui-hyphenation() {
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
}

.ui-ligatures() {
  font-feature-settings: "liga", "dlig";
}

// Other stuff

.ui-circle(@diameter: 20px) {
  width: @diameter;
  height: @diameter;
  border-radius: 50%;
}

.ui-placeholder(@color) {
  &:-moz-placeholder { color: @color; }
  &:-ms-input-placeholder { color: @color; }
  &::-webkit-input-placeholder { color: @color;}
}

.ui-a(@color, @hover, @text-decoration: none, @text-decoration-hover: none) {
  & { .ui-transition(all, 150ms) }
  &:link, &:visited { color: @color; text-decoration: @text-decoration;}
  &:hover, &:focus { color: @hover; text-decoration: @text-decoration-hover;}
}

