@cover-login-width:           @ui-cover-login-width;
@cover-login-bg-color:        @ui-cover-login-bg-color;
@cover-login-button-color:    @ui-cover-login-button-color;
@cover-login-button-bg:       @ui-cover-login-button-bg-color;
@cover-login-button-bg-hover: @ui-cover-login-button-bg-hover;
@cover-input-addborder:       @ui-cover-input-addborder;
@cover-input-border:          @ui-cover-input-border;


.swts-cover-login {
  &, * {
    box-sizing: border-box;
  }

  position: fixed;
  top: 0;
  left: 50%;
  width: @cover-login-width;
  margin: 0 0 0 -(@cover-login-width/2);
  padding: @ui-grid;
  z-index: 9000;
  opacity: 0;

  background: @cover-login-bg-color;

  .ui-transform(translate3d(0, -101%, 0));
  .ui-transition(all, 300ms);

  &.active {
    opacity: 1;
    .ui-transform(translate3d(0, 0, 0));
  }

  .input {
    width: @cover-login-width - (@ui-grid * 2);

    & when(@cover-input-addborder = true) {
      margin-bottom: -1px;
      input {
        border: @cover-input-border;
      }
    }
  }

  .swts-button-m {
    box-sizing: border-box;
    padding-top: 1px;
    margin: @ui-grid auto 0;
    background: @cover-login-button-bg;
    color: @cover-login-button-color !important;

    &:hover when(iscolor(@cover-login-button-bg-hover)) {
      background: @cover-login-button-bg-hover;
    }
  }
}

//user panel
.swts-user > a:before {
  left: 0;
  height: 40px;
  width: 40px;
  content: "s";
  font: normal normal (2*@ui-grid) @ui-icon-family;
  line-height: 43px;
  speak: none;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
}

.swts-editing > a {
  color: @ui-accent-color !important;
}
