@import "common/less/triangle.less";
@import "common/less/mixings.less";
@import "common/less/icons.less";
@import "common/less/animations.less";

@swts-grid: 					20px;

@swts-icon-family: 				@swts-icon-font;
@swts-font-family: 				@base-font-family;
@swts-font-size:          		16px;
@swts-line-height:        		1.5em;

@swts-color: 					#fff;
@swts-selected-color: 			#ABB6C7;
@swts-accent-color: 			#FF4546;
@swts-warning-color: 			#FF4546;
@swts-bg-color: 				#1B2533;
@swts-input-color: 				@swts-color;
@swts-input-focus-color: 	    @swts-input-bg-color;
@swts-input-bg-color: 			lighten(@swts-bg-color, 7%);
@swts-input-bg-focus-color: 	@swts-color;

@swts-common-transition-style:	cubic-bezier(0.660, 0.000, 0.070, 1.000);
@swts-common-time: 				150ms;

@swts-showup-transition-style:	cubic-bezier(0.660, 0.0, 0.5, 1.5);
@swts-showup-time: 				200ms;

@base-transition-style: 		@swts-common-transition-style;

//components
@import "input/input.less";
@import "overlay/overlay.less";
@import "buttons/buttons.less";
@import "nipple/nipple.less";
@import "cover/cover.less";
@import "selectah/selectah.less";
@import "gregory/gregory.less";
@import "gutenberg/gutenberg.less";
@import "upload/upload.less";
