@import "common/less/triangle.less";
@import "common/less/mixings.less";
@import "common/less/icons.less";

@swts-grid: 					20px;

@swts-icon-family: 				@swts-icon-font;
@swts-font-family: 				@base-font-family;
@swts-font-size:          		16px;
@swts-line-height:        		1.5em;

@swts-color: 					#fff;
@swts-selected-color: 			#ABB6C7;
@swts-accent-color: 			#FF4546;
@swts-warning-color: 			#FF4546;
@swts-bg-color: 				#1B2533;
@swts-input-color: 				@swts-color;
@swts-input-focus-color: 	    @swts-input-bg-color;
@swts-input-bg-color: 			lighten(@swts-bg-color, 7%);
@swts-input-bg-focus-color: 	@swts-color;

@swts-common-transition-style:	cubic-bezier(0.660, 0.000, 0.070, 1.000);
@swts-common-time: 				150ms;

@swts-showup-transition-style:	cubic-bezier(0.660, 0.0, 0.5, 1.5);
@swts-showup-time: 				200ms;

@base-transition-style: 		@swts-common-transition-style;

.swts-showup-out(@time: @swts-showup-time, @style: @swts-showup-transition-style) {
	visibility:hidden;
	opacity:0;
	.transform( rotateX(45deg) scale(0.8) );
	-webkit-transition:visibility 0s @style @time, all @time @style;
	-moz-transition:visibility 0s @style @time, all @time @style;
	-ms-transition:visibility 0s @style @time, all @time @style;
	transition:visibility 0s @style @time, all @time @style;
}

.swts-showup-in {
	visibility:visible;
	opacity:1;
	.transform(rotateX(0) scale(1));
	.transition-delay(0);
}

.swts-error-keyframes() {
  0% {.translate(-20px, 0)}
  20% {.translate(16px, 0)}
  40% {.translate(-12px, 0)}
  60% {.translate(8px, 0)}
  80% {.translate(-4px, 0)}
  100% {.translate(0px, 0)}
}

@-webkit-keyframes errror {.swts-error-keyframes();}
@keyframes errror {.swts-error-keyframes();}

.swts-error {
	.animation(errror 0.4s @swts-common-transition-style);
}

//components
@import "input/input.less";
@import "overlay/overlay.less";
@import "buttons/buttons.less";
@import "nipple/nipple.less";
@import "cover/cover.less";
@import "selectah/selectah.less";
@import "gregory/gregory.less";
@import "gutenberg/gutenberg.less";
@import "upload/upload.less";
