@upload-color: 			@swts-accent-color;
@upload-stroke-width: 	15px;

.swts-upload {
	background: @upload-color;
}

.swts-upload-drop {
	outline: @upload-color @upload-stroke-width solid !important;
	outline-offset: -@upload-stroke-width/2 !important;
}

.swts-upload-progress {
	position: absolute;
	top:0;
	left:0;
	width: 0;
	height: 100%;
	background: @upload-color;
	opacity: 0;
	z-index: 100;
	.transition(all, @swts-showup-time);

	&.uploading {
		opacity: 1;
	}
}
